h4.infoMarkers {
    background-color: #5cb25d;
    color: #eff7ed;
}

.companyName {
    display: inline;
}

.leaseReportRadio {
    margin-left: 20px;
    
}
.astCurrentAddress{
    color:red;
}

input[type = 'file'] {
    color: rgba(0,0,0,0)
}
.AddFormerAddress1, .AddFormerAddress2 {
    text-decoration: underline dotted;
    cursor: pointer;
}
